{% extends 'header.html' %}
{% block head %}
    <style>
        .wrap {
            margin: 82px auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .wrapper {
            width: 1000px;
            border: 1px solid #BDBDBD;
            border-radius: 5px;
            background-color: white;

        }

        .container {
            width: 800px;
            padding: 40px 0;
            margin: auto;
        }

       
        .container #place {font-size: 16px;}
        .container hr {
            border: 1px solid #BDBDBD;
            margin-top: 16px;
        }

        .container #title {
            width: 100%;
            margin-top: 16px;
            font-size: 24px;
            color: #BDBDBD;
        }
        .container #title:valid {color: black;}

        .container #content {
            width: 100%;
            height: 6.25em;
            border: none;
            margin-top: 24px;
            resize: none;
            font-size: 16px;
        }

        .container #picture {
            margin-top: 100px;
        }

        button {
            width: 380px;
            height: 50px;
            border-radius: 5px;
            font-size: 16px;
            font-weight: 700;
        }

        .wrap .primary {
            margin-top: 40px;
            background-color: #F0BA84;
            color: white;
        }

        .wrap .secondary {
            border: 1px solid #BDBDBD;
            margin-top: 12px;
            background-color: white;
            color: #696969;
        }
    </style>
    <script>
        const posting = () => {
            let title = document.querySelector('#title').value
            let content = document.querySelector('#content').value
            let place = document.querySelector('#place').value
            
            $.ajax({
                type: "POST",
                url: "/review/posting",
                data: { title_give: title,
                        content_give: content,
                        place_give: place
                    },
                success: function (response) {
                    alert(response["msg"])
                    window.location.href = '/review'
                }
            });
        }

    </script>
{% endblock %}
{% block body %}
    <div class="wrap">
        <div class="wrapper">
            <div class="container">
                <input type="text" placeholder="장소" id="place">
                <hr>
                <input type="text" placeholder="제목" id="title">
                <textarea name="" id="content" cols="30" rows="5" placeholder="내용을 입력해주세요."></textarea>
            </div>
        </div>
        <button class="primary" onclick="posting()">작성 완료</button>
        <button class="secondary" onclick="window.history.back()">취소</button>
    </div>
{% endblock %}