{% extends 'header.html' %}
{% block head %}
<script type="text/javascript"
    src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=laf2z3cmql&submodules=geocoder"></script>

<!-- 카톡 등에 공유할 때 보이는 정보 및 웹페이지 아이콘 -->
<meta property="og:title" content="밀믈리에 | MilMmelier" />
<meta property="og:description" content="mini project for 1week" />
<meta property="og:image" content="{{ url_for('static', filename='img/밀크티.jpg') }}" />
<link rel="shortcut icon" href="{{ url_for('static', filename='img/square.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='img/square.ico') }}" type="image/x-icon">


<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
<link rel="preconnect" href="http://fonts.gstatic.com">
<link
    href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Do+Hyeon&family=IBM+Plex+Sans+KR:wght@300;400&display=swap"
    rel="stylesheet">

<style>
    body {
        background-color: RGBA(240, 186, 132, 0.2);
        min-height: 100vh;
    }

    .wrap {
        width: 90%;
        max-width: 750px;
        margin: 0 auto;

    }

    .banner {
        width: 100%;
        height: 19vh;
        background-image: url("{{url_for('static', filename='img/banner_edit.png')}}");
        background-position: center;
        background-size: contain;
        background-repeat: repeat;
    }

    .wrap nav {
        padding-bottom: 20px;
        border-bottom: 1px solid #BDBDBD;
        margin-top: 20px;
        text-align: center;
    }

    .wrap nav a {
        margin: 0 10px;
        font-size: 20px;
        font-weight: 700;
        text-decoration: none;
        color: #F0BA84;

    }

    h1.title {
        font-family: 'Black Han Sans', sans-serif;

        color: white;
        font-size: 3rem;
    }

    h5 {
        font-family: 'Do Hyeon', sans-serif;
    }

    h6 {
        font-family: 'Do Hyeon', sans-serif;
    }

    .card-body>p {
        font-family: 'IBM Plex Sans KR', sans-serif;
    }

    .matjip-list {
        overflow: scroll;
        width: 100%;
        height: calc(20vh - 30px);
        position: relative;
    }

    .card-title,
    .card-subtitle {
        display: inline;
    }

    #map {
        width: 100%;
        height: 30vh;
        margin: 20px auto 20px auto;
    }

    .btn-sparta {
        color: #fff;
        background-color: #e8344e;
        border-color: #e8344e;
    }

    .iw-inner {
        padding: 10px;
        font-size: smaller;
    }

    i {
        color: #e8344e;
    }

    i:hover {
        cursor: pointer;
    }
</style>

<script>
    let y_cen = 37.4981125   // lat
    let x_cen = 127.0379399  // long
    let map;
    let markers = [];
    let infowindows = [];

    $(document).ready(function () {
        map = new naver.maps.Map('map', {
            center: new naver.maps.LatLng(y_cen, x_cen),
            zoom: 12,
            zoomControl: true,
            zoomControlOptions: {
                style: naver.maps.ZoomControlStyle.SMALL,
                position: naver.maps.Position.TOP_RIGHT
            }
        });
        get_matjips()
    });

    function get_matjips() {

        for (let i = 0; i < markers.length; i++) {
            markers[i].setMap(null);
            infowindows[i].clone()
        }
        markers = [];
        infowindows = [];

        $.ajax({
            type: "GET",
            url: '/matjip',
            data: {},
            success: function (response) {
                let matjips = response["matjip_list"]
                for (let i = 0; i < matjips.length; i++) {
                    let matjip = matjips[i];
                    make_card(i, matjip);
                    let marker = make_marker(matjip);
                    add_info(i, marker, matjip)
                }
            }
        });
    }

    function make_marker(matjip) {
        let marker_img = '';
        if ("liked" in matjip) {
            marker_img = '{{url_for("static", filename="img/marker-liked.png")}}'
        } else {
            marker_img = '{{url_for("static", filename="img/marker_default.png")}}'
        }
        let marker = new naver.maps.Marker({
            position: new naver.maps.LatLng(matjip["mapy"], matjip["mapx"]),
            map: map,
            icon: marker_img
        });
        markers.push(marker);
        return marker
    }

    function make_card(i, matjip) {
        let temp_html = `<div class="card" id="card-${i}">
                                        <div class="card-body">
                                            <h5 class="card-title"><a href="javascript:click2center('${i}')" class="matjip-title">${matjip.title}</a></h5>
                                            <h6 class="card-subtitle mb-2 text-muted">${matjip.star}</h6>
                                            <p class="card-text">${matjip.address}</p>
                                        </div>
                                    </div>`
        $('#matjip-box').append(temp_html);
    }

    function add_info(i, marker, matjip) {
        let html_temp = `<div class="iw-inner">
                                        <h5>${matjip['title']}</h5>
                                        <p>${matjip['address']}
                                    </div>`;
        let infowindow = new naver.maps.InfoWindow({
            content: html_temp,
            maxWidth: 200,
            backgroundColor: "#fff",
            borderColor: "#888",
            borderWidth: 2,
            anchorSize: new naver.maps.Size(15, 15),
            anchorSkew: true,
            anchorColor: "#fff",
            pixelOffset: new naver.maps.Point(10, -10)
        });
        infowindows.push(infowindow)
        naver.maps.Event.addListener(marker, "click", function (e) {
            console.log("clicked", infowindows.length);
            if (infowindow.getMap()) {
                infowindow.close();
            } else {
                infowindow.open(map, marker);
                map.setCenter(infowindow.position)
                $("#matjip-box").animate({
                    scrollTop: $("#matjip-box").get(0).scrollTop + $(`#card-${i}`).position().top
                }, 2000);
            }
        });
    }

    function click2center(i) {
        let marker = markers[i]
        let infowindow = infowindows[i]
        if (infowindow.getMap()) {
            infowindow.close();
        } else {
            infowindow.open(map, marker);
            map.setCenter(infowindow.position)
        }
    }

    function bookmark(title, address, action) {
        $.ajax({
            type: "POST",
            url: "/like_matjip",
            data: {
                title_give: title,
                address_give: address,
                action_give: action
            },
            success: function (response) {
                if (response["result"] == "success") {
                    get_matjips()
                }
            }
        })
    }
</script>
{% endblock %}
{% block body %}
    <div class="wrap">
        <div class="banner">
            <div class="d-flex flex-column align-items-center justify-content-center"
                style="background-color: #00000080;width: 100%;height: 100%;">
                <button type="button" onclick="window.location.reload()" class="btn btn-sparta">
                    새로고침하고 더 많은 맛집 보기
                </button>
            </div>
        </div>
        <div id="map"></div>

        <div class="matjip-list" id="matjip-box"></div>
    </div>
{% endblock %}
