{% extends 'header.html' %}
{% block head %}
    <style>
        .wrap {
            width: 1200px;
            margin: auto;
        }

        .top {
            position: relative;
        }

        h1 {
            font-size: 32px;
            font-weight: 700;
            margin-top: 40px;
            margin-left: 10px;
        }

        #edit {
            width: 120px;
            height: 44px;
            border-radius: 5px;
            font-size: 16px;
            font-weight: 700;
            color: white;
            background-color: #F0BA84;
            position: absolute;
            top: 0;
            right: 0;
        }

        .container {
            padding-top: 30px;
            display: flex;
            flex-flow: wrap;

        }

        .item {
            width: 320px;
            height: 240px;
            padding: 20px;
            border: 1px solid #BDBDBD;
            border-radius: 5px;
            margin: 10px;
            position: relative;
            background-color: white;
        }

        .item h2 {
            font-size: 16px;
            font-weight: 700;
        }
        .item #place {
            font-size: 14px;
            font-weight: 700;
            margin-top: 8px;
        }
        .item #content {
            font-size: 16px;
            line-height: 1.5em;
            margin-top: 12px;
        }
        .item #date {
            font-size: 14px;
            position: absolute;
            bottom: 20px;
            left: 20px;
        }
        .item #delete {
            font-size: 14px;
            width: 60px;
            height: 28px;
            border-radius: 5px;
            font-size: 14px;
            font-weight: 700;
            color: white;
            background-color: #F0BA84;
            position: absolute;
            right: 20px;
            bottom: 20px;

        }
    </style>
    <script>
        function goToEdit(){
            alert('go!')
        }
        
        $(document).ready(function () {
            $.ajax({
                type: "GET",
                url: "/review/listing",
                data: {},
                success: function (response) {
                    let reviews = response['reviews']

                    reviews.forEach((review) => {
                        let num = review['num']
                        let title = review['title']
                        let content = review['content']
                        let place = review['place']
                        let date = review['date']
    
                        let temp_html = `
                                        <div class="item">
                                            <h2 id="title">${title}</h2>
                                            <p id="place">${place}</p>
                                            <p id="content">${content}</p>
                                            <p id="date">${date}</p>
                                            <button id="delete" onclick="delete_review(${num})" type="button">삭제</button>
                                        </div>
                                        `
                        $('.container').append(temp_html)
                    });
                }
            })
        })

        function delete_review(num) {
            $.ajax({
                type: "POST",
                url: "/review/delete",
                data: { num_give: num},
                success: function (response) {
                    alert(response["msg"])
                    window.location.reload()
                }
            });
        }


    </script>
{% endblock %}
{% block body %}
    <div class="wrap">
        <div class="top">
            <h1>리뷰</h1>
            <button onClick="window.location.href = 'review/edit'" id="edit">리뷰쓰기</button>
        </div>
        <div class="container"></div>
    </div>
{% endblock %}